---
// Footer.astro
---

<footer class="w-full max-w-2xl mx-auto px-6 py-8 text-center">
    <div class="space-y-8">
                <script async data-uid="297e7ddda0" src="https://juan-felipe-castillo-madrinan.kit.com/297e7ddda0/index.js"></script>
        {/* Site name/brand */}
        <div class="py-4">
            <a href="/" class="text-lg font-medium hover:opacity-80 transition-opacity duration-200">
                JuanFelipe
            </a>
        </div>
    </div>
</footer>