---
// Header.astro
---

<header class="w-full py-4 px-6 flex justify-between items-center font-sans">
    <div class="text-xl font-medium">
      <a href="/" class="hover:opacity-80 transition-opacity duration-200">
        JuanFelipe
      </a>
    </div>
    
    <nav>
      <ul class="flex gap-4">
        <li>
          <a href="/" class="hover:opacity-80 transition-opacity duration-200">
            Blog
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/juanfelipecastillom/" class="hover:opacity-80 transition-opacity duration-200">
            Instagram
          </a>
        </li>
      </ul>
    </nav>
  </header>